<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./parts/head.ejs %>
</head>
<body>
<% include ./parts/header.ejs %>

<!-- Page Header -->
<section class="padding page_header page_header_one">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-capitalize top40">About Us</h1>
                <p class="bottom30">Look forward to hear from you!</p>
                <ul class="breadcrumb_link">
                    <li><a href="#.">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header ends -->


<!-- About -->
<section id="about">
    <div class="container about_page">
        <div class="row">
            <div class="col-sm-6 margin_top">
                <div class="about_headline padding_bottom wow fadeIn">
                    <h2 class="text-capitalize">We Craft Beautiful and Functional WordPress <br>Themes</h2>
                </div>
                <div class="image">
                    <img src="images/about-left.jpg" alt="intro about us">
                </div>
            </div>
            <div class="col-sm-6 margin_top">
                <div class="about_headline padding_bottom wow fadeIn">
                    <p class="bottom20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p class="bottom00">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="image">
                    <img src="images/about-right.jpg" alt="intro about us">
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Ends-->



<!--About gallery-->
<section id="gallery" class="padding_top">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-2"></div>
            <div class="col-md-6 wow fadInDown">
                <h2 class="text-capitalize">Creative Thinkers</h2>
                <p class="top10 title heading_space">Passionate about Perfection Keep away from people who try Make your teams more
                    productive to belittle your ambitions.</p>
            </div>
            <div class="col-md-3 col-sm-2"></div>
        </div>
        <div class="row">
            <div id="about-gallery" class="cbp">
                <div class="cbp-item">
                    <img src="images/thinker-gallery1.jpg" alt="">
                    <div class="overlay">
                        <div class="centered text-center">
                            <h3>Richard Stevens</h3>
                            <p>Web Designer</p>
                            <ul class="social white">
                                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="icon-twitter4"></i></a></li>
                                <li><a href="#."><i class="icon-dribbble4"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <img src="images/thinker-gallery2.jpg" alt="">
                    <div class="overlay">
                        <div class="centered text-center">
                            <h3>Richard Stevens</h3>
                            <p>Web Designer</p>
                            <ul class="social white">
                                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="icon-twitter4"></i></a></li>
                                <li><a href="#."><i class="icon-dribbble4"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <img src="images/thinker-gallery3.jpg" alt="">
                    <div class="overlay">
                        <div class="centered text-center">
                            <h3>Richard Stevens</h3>
                            <p>Web Designer</p>
                            <ul class="social white">
                                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="icon-twitter4"></i></a></li>
                                <li><a href="#."><i class="icon-dribbble4"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <img src="images/thinker-gallery4.jpg" alt="">
                    <div class="overlay">
                        <div class="centered text-center">
                            <h3>Richard Stevens</h3>
                            <p>Web Designer</p>
                            <ul class="social white">
                                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="icon-twitter4"></i></a></li>
                                <li><a href="#."><i class="icon-dribbble4"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <img src="images/thinker-gallery5.jpg" alt="">
                    <div class="overlay">
                        <div class="centered text-center">
                            <h3>Richard Stevens</h3>
                            <p>Web Designer</p>
                            <ul class="social white">
                                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="icon-twitter4"></i></a></li>
                                <li><a href="#."><i class="icon-dribbble4"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <img src="images/thinker-gallery6.jpg" alt="">
                    <div class="overlay">
                        <div class="centered text-center">
                            <h3>Richard Stevens</h3>
                            <p>Web Designer</p>
                            <ul class="social white">
                                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="icon-twitter4"></i></a></li>
                                <li><a href="#."><i class="icon-dribbble4"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About gallery-->


<% include ./parts/footer.ejs %>
</body>
</html>
