<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./parts/head.ejs %>
</head>
<body>
<% include ./parts/header.ejs %>
<!-- Page Header -->
<section class="padding page_header page_header_two">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-capitalize top40">Contact Us</h1>
                <p class="bottom30">Look forward to hear from you!</p>
                <ul class="breadcrumb_link">
                    <li><a href="#.">Home</a></li>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header ends -->



<!-- Contact US -->
<section id="contact-us" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 margin_bottom">
                <div id="map_wrapper">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="500ms">
                <div class="image bottom80">
                    <img src="images/contact.jpg" alt="contact">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 bottom80 wow fadeInRight" data-wow-delay="600ms">
                <h2>Get in Touch</h2>
                <p class="top10 bottom30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <form class="callus">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message"></textarea>
                            </div>
                            <a href="#." class="btn_border btn_default active">send message</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Australia Studios</h2>
                <p class="top10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-sm-4 address top40 wow fadeIn" data-wow-delay="300ms">
                <h4 class="bottom20">Melbourne, Likni</h4>
                <div class="locations">
                    <span><i class="icon-phone2"></i></span>
                    <p><span>(+08) 123 456 7890</span></p>
                </div>
                <div class="locations">
                    <span><i class="icon-mail"></i></span>
                    <p><a href="#.">ewen@support.com</a></p>
                </div>
                <div class="locations">
                    <span><i class="icon-icons214"></i></span>
                    <p>PO Box 16122 Collins Street
                        Victoria 8007 Australia
                    </p>
                </div>
            </div>
            <div class="col-sm-4 address top40 wow fadeIn" data-wow-delay="500ms">
                <h4 class="bottom20">Perth, Mandurah</h4>
                <div class="locations">
                    <span><i class="icon-phone2"></i></span>
                    <p><span>(+08) 123 456 7890</span></p>
                </div>
                <div class="locations">
                    <span><i class="icon-mail"></i></span>
                    <p><a href="#.">ewen@support.com</a></p>
                </div>
                <div class="locations">
                    <span><i class="icon-icons214"></i></span>
                    <p>PO Box 16122 Collins Street
                        Victoria 8007 Australia
                    </p>
                </div>
            </div>
            <div class="col-sm-4 address top40 wow fadeIn" data-wow-delay="600ms">
                <h4 class="bottom20">Queensland, Morga</h4>
                <div class="locations">
                    <span><i class="icon-phone2"></i></span>
                    <p><span>(+08) 123 456 7890</span></p>
                </div>
                <div class="locations">
                    <span><i class="icon-mail"></i></span>
                    <p><a href="#.">ewen@support.com</a></p>
                </div>
                <div class="locations">
                    <span><i class="icon-icons214"></i></span>
                    <p>PO Box 16122 Collins Street
                        Victoria 8007 Australia
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact US Ends-->


<% include ./parts/footer.ejs %>
</body>
</html>
