
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./parts/head.ejs %>
</head>
<body>
<% include ./parts/header.ejs %>


<!-- Page Header -->
<section class="padding page_header page_header_four">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-capitalize top40">Blog Standard</h1>
                <p class="bottom30">Look forward to hear from you!</p>
                <ul class="breadcrumb_link">
                    <li><a href="#.">Home</a></li>
                    <li class="active">News</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header ends -->



<!-- Blog & News -->
<section id="ewn_news" class="light padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="news_item heading_space">
                    <div class="image">
                        <div class="image"><img src="images/news1.jpg" alt="Latest News" class="img-responsive"></div>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize"><a href="news_detail.html">Next Large Social Network</a></h3>
                        <ul class="ewn_meta top20 bottom20">
                            <li><a href="#."><i class="icon-calendar2"></i>Feb 14, 2017</a></li>
                            <li><a href="#." > <i class="icon-profile-male"></i> By peter warren</a></li>
                            <li><a href="#."><i class="icon-comment"></i>5 Comments</a></li>
                        </ul>
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <a href="news_detail.html" class="btn_default btn_border">Read more</a>
                    </div>
                </div>
                <div class="news_item heading_space">
                    <div class="image">
                        <div class="image"><img src="images/news2.jpg" alt="Latest News" class="img-responsive"></div>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize"><a href="news_detail.html">Next Large Social Network</a></h3>
                        <ul class="ewn_meta top20 bottom20">
                            <li><a href="#."><i class="icon-calendar2"></i>Feb 14, 2017</a></li>
                            <li><a href="#." > <i class="icon-profile-male"></i> By peter warren</a></li>
                            <li><a href="#."><i class="icon-comment"></i>5 Comments</a></li>
                        </ul>
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s, when an unknown printer took a galley.
                        </p>
                        <a href="news_detail.html" class="btn_default btn_border">Read more</a>
                    </div>
                </div>
                <div class="news_item heading_space">
                    <div class="image">
                        <div class="image"><img src="images/news3.jpg" alt="Latest News" class="img-responsive"></div>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize"><a href="news_detail.html">Next Large Social Network</a></h3>
                        <ul class="ewn_meta top20 bottom20">
                            <li><a href="#."><i class="icon-calendar2"></i>Feb 14, 2017</a></li>
                            <li><a href="#." > <i class="icon-profile-male"></i> By peter warren</a></li>
                            <li><a href="#."><i class="icon-comment"></i>5 Comments</a></li>
                        </ul>
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <a href="news_detail.html" class="btn_default btn_border">Read more</a>
                    </div>
                </div>
                <div class="news_item heading_space">
                    <div class="image">
                        <div class="image"><img src="images/news4.jpg" alt="Latest News" class="img-responsive"></div>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize"><a href="news_detail.html">Next Large Social Network</a></h3>
                        <ul class="ewn_meta top20 bottom20">
                            <li><a href="#."><i class="icon-calendar2"></i>Feb 14, 2017</a></li>
                            <li><a href="#." > <i class="icon-profile-male"></i> By peter warren</a></li>
                            <li><a href="#."><i class="icon-comment"></i>5 Comments</a></li>
                        </ul>
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <a href="news_detail.html" class="btn_default btn_border">Read more</a>
                    </div>
                </div>
                <ul class="pager heading_space">
                    <li><a href="#" class="hidden"><i class="icon-arrow-left2"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="icon-arrow-right2"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>
<!-- News ends -->


<% include ./parts/footer.ejs %>
</body>
</html>

