<!-- LOADER -->
<div class="loader">
    <div class="loader_inner">
        <div class="la-ball-circus">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!--LOADER Ends-->